/**
* More css formatting for ezdebug nested trees.
*
* Extends tree.css, container.css from YUI lib
*
* @author G. Giunta
* @version $Id: xmlrpc_tree.css,v 1.2 2007/01/10 22:31:37 ggiunta Exp $
* @copyright
*
* @todo fix word-wrapping of node contents for not-quite-wide-enough windows
*/


/* nodes for buliding a tree of template values */

.ygtvlabel, .ygtvlabelu, .ygtvlabeln, .ygtvlabelt, .ygtvlabeltu, .ygtvlabel:hover {
  font: normal 10px verdana, sans-serif;
  vertical-align: top;
  margin-left:4px;
}

.ygtvlabel, .ygtvlabeln, .ygtvlabelu, .ygtvlabel:hover {
  font-weight: bold;
}

.ygtvlabeln {
}

.ygtvlabelt {
    color: blue;
}

.ygtvlabeltu {
    color: red;
}

.ygtvlabelu {
    color: red;
}

.ygtvmvup {
	width:16px; height:22px;
	background: url(../../images/ezdebug/expandh.gif) 3px 5px no-repeat;
}

.ygtvmvuph {
	cursor:pointer ;
	width:16px; height:22px;
	background: url(../../images/ezdebug/expandon.gif) 3px 5px no-repeat;
}

.ygtvmvupn {
	width:16px; height:22px;
	background: url(../../images/ezdebug/expand.gif) 3px 5px no-repeat;
}

.ygtvmvdown {
	width:16px; height:22px;
	background: url(../../images/ezdebug/collapseh.gif) 3px 5px no-repeat;
}

.ygtvmvdownh {
	cursor:pointer ;
	width:16px; height:22px;
	background: url(../../images/ezdebug/collapseon.gif) 3px 5px no-repeat;
}

.ygtvmvdownn {
	width:16px; height:22px;
	background: url(../../images/ezdebug/collapse.gif) 3px 5px no-repeat;
}

.ygtvmvdel {
	width:16px; height:22px;
	background: url(../../images/ezdebug/rm.gif) 0 0 no-repeat;
}

.ygtvmvdelh {
	cursor:pointer ;
	width:16px; height:22px;
	background: url(../../images/ezdebug/rmh.gif) 0 0 no-repeat;
}

.ygtvmvdeln {
	width:16px; height:22px;
	/*background: url(../../images/ezdebug/rmn.gif) 0 0 no-repeat;*/
}

.ygtvmvadd {
	width:16px; height:22px;
	background: url(../../images/ezdebug/add.gif) 0 0 no-repeat;
}

.ygtvmvaddh {
	cursor:pointer ;
	width:16px; height:22px;
	background: url(../../images/ezdebug/addh.gif) 0 0 no-repeat;
}

.ygtvmvaddn {
	width:16px; height:22px;
	/*background: url(../../images/ezdebug/addn.gif) 0 0 no-repeat;*/
}

.ygtvmvedit {
	width:16px; height:22px;
	background: url(../../images/ezdebug/edit.gif) 0 0 no-repeat;
}

.ygtvmvedith {
	cursor:pointer ;
	width:16px; height:22px;
	background: url(../../images/ezdebug/edith.gif) 0 0 no-repeat;
}

.ygtvmveditn {
	width:16px; height:22px;
	/*background: url(../../images/ezdebug/editn.gif) 0 0 no-repeat;*/
}

/* tooltips */

.tt {
	font: 75% sans-serif;
}
